@{
    ViewData["Title"] = "Home Page";
}

<style>
    .link_title {
        color: #333;
        text-decoration: none;
    }
</style>


<div class="content">
    <div class="d-grid gap-5 col-4 mx-auto">
        <button class="btn btn-style rounded-pill" type="button">
            <div class="btn_title">
                @Html.ActionLink("Chơi", "PlayRoom", "Room", null, new {@class = "link_title"})
            </div>
        </button>
        <button class="btn btn-style rounded-pill" type="button">
            <div class="btn_title">Phòng</div>
        </button>
        <button class="btn btn-style rounded-pill" type="button">
            <div class="btn_title">Xếp Hạng</div>
        </button>
    </div>
</div>
