<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BanCov1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

</head>
<body style="width: 100%; margin-bottom: 0; position: relative">
    <header style="position: absolute; z-index: 10000; width: 100%">
        <nav class="navbar" style="justify-content: space-around;display: flex; padding: 0;">
            <div style="text-align: center; color: #FFCE8D; font-size: 90px; font-family: Ledger; font-weight: 400; text-transform: uppercase; word-wrap: break-word">CỜ TƯỚNG</div>
            
            <div class="block_icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-square-rounded" width="38" height="38" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 13a3 3 0 1 0 0 -6a3 3 0 0 0 0 6z"></path>
                    <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"></path>
                    <path d="M6 20.05v-.05a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v.05"></path>
                </svg>

                <div class="layout_login" id="layout_login_id">

                    <ul class="navbar-nav flex-grow-1" style="width: 100px">
                        <li class="nav_item">
                            <a class="nav_link nav_login" asp-area="" asp-controller="Accounts" asp-action="Index">Login</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" asp-area="" asp-controller="Accounts" asp-action="SignUp">SignUp</a>
                        </li>
                    </ul>
              
                </div>


                <div class="layout_logout" id="logout_id">
                    <ul class="navbar-nav flex-grow-1" style="width: 100px">
                        <li class="nav_item">
                            <a class="nav_link" id="logoutButton">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
             </div>
         
        </nav>
     
    </header>

    <div class="container" style="position: absolute; z-index: 1000; margin: auto; left: 0; right: 0; height: 100%;">
        <main role="main" style="position: relative; margin: auto;">
            @RenderBody()
        </main>
    </div>
    <script>
     
        var logins = document.getElementById("layout_login_id");
        var logouts = document.getElementById("logout_id");
        if (localStorage.key('token')) {
            logins.style.display = "none";
        } else {
            logouts.style.display = "none"
        }

          

        document.addEventListener("DOMContentLoaded", function () {
            // Xử lý sự kiện click cho nút "logoutButton"
            var logoutButton = document.getElementById("logoutButton");
            if (logoutButton) {
                logoutButton.addEventListener("click", function () {
                    // Xóa token khỏi localStorage
                    localStorage.removeItem('token');
                    localStorage.removeItem('user');

                    // Chuyển hướng về trang đăng nhập
                    window.location.href = "/Accounts";
                });
            }
        });

    </script>

    <img style="width:100%; height: 100%" src="~/Images/background.jpg" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/chat.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/room_list.js"></script>
</body>
</html>
